.customColor{
    background: #37474F;
  }

  .background-blue{
    background: rgba(60, 174, 168, 1)100% 
  }
  
  div {
    padding: 0;
  }

  .div-padding-top {
    padding-top: 15% !important;
  }

  .h1-margin-zero{
    margin-bottom: 0 !important;
  }
  
  .gradient-black-white {
    /* background-color: #FFFFFF; */
    background-image: linear-gradient(45deg, #121212 10%, #8d8b8b 53%, #a19f9f 30%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .gradient-black-grey {
    /* background-color: #FFFFFF; */
    background-image: linear-gradient(45deg, #121212 10%, #8d8b8b 30%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .backgroundBlue {
    background-color: #3CAEA8;
  }
  
  .customP {
    color: #9BA3A7
  }
  
  .gradient-grey-white-left {
    background: linear-gradient(33deg, #37474F 40%,  #FFFFFF);
  }
  .gradient-grey-white-right {
    background: linear-gradient(-33deg, #37474F 40%,  #FFFFFF);
  }

  .full-screen-background-agenda {
    color: rgb(255, 255, 255);
    background-image: url('../assets/PcBackground.jpg');
    background-size: cover;    
    background-position: center;   
    background-repeat: no-repeat;  
    height: inherit;                 
    width: inherit;                  
    position: relative;
  }

  .dim-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);  
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 1 !important;
    color: white;
  }

  .code-container {
    position: relative; 
}

.code-container pre {
    background-color: #1B1B1B !important;
    border-radius: 5px; 
    padding: 10px; 
    overflow: auto; 
    overflow-x: hidden;
}


.code-container code {
    color: inherit; 
    padding: 0;
}

 .code-block-shadow {
    box-shadow: 8px 8px 10px rgba(3, 3, 3, 0.5); 
  }

  .paper-box {
    background-color: #fdfdfd; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 
                0 1px 3px rgba(0, 0, 0, 0.1);
    
    background-image: url('./assets/design-space-paper-textured-background.jpg');
    background-size: cover;

    justify-content: center; 
  }

  .gradient-circle {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    
    background: radial-gradient(circle, 
      rgba(255, 255, 255, 0.8) 20%,  
      rgba(60, 174, 168, 0.8) 50%,  
      rgba(60, 174, 168, 1)100%    
    );
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    height: 20%; 
    gap: 0;
  }

  .block {
    position: relative;
    background-color: #37474F; 
    border: 1px solid white;
    z-index: 1;
  }

  .block-3d::before,
.block-3d::after {
  content: '';
  position: absolute;
  background-color: #303c42; 
}

.block-3d::before {
  border: 1px solid white;
  top: -16px;
  right: -32px;
  width: 31px;
  height: 102%;
  transform: skewY(-45deg);
  z-index: -1;
}


.block-3d::after {
  border: 1px solid white;
  top: -32px;
  left: 14px;
  width: 103%;
  height: 31px;
  transform: skewX(-45deg);
  z-index: -1;
}
