
:root {
    --primary-color: #37474F;
    --secondary-color: #9BA3A7;
    --text-color: #ffffff;
    --background-color: #fdfdfd;
    --gradient-color1: #121212;
    --gradient-color2: #8d8b8b;
    --gradient-color3: #a19f9f;
    --code-bg-color: #1B1B1B;
    --border-radius: 5px;
    --padding-small: 10px;
    --box-shadow-default: 0 4px 6px rgba(0, 0, 0, 0.5),
                         0 1px 3px rgba(0, 0, 0, 0.1);
  }
  